{% extends "base.html" %}
{% block content %}
<h2>Doctor Dashboard</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow p-3 mb-4">
            <h5>My Appointments</h5>
            <a href="#" class="btn btn-primary">View Schedule</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow p-3 mb-4">
            <h5>E-Prescriptions</h5>
            <a href="#" class="btn btn-warning">Write Prescription</a>
        </div>
    </div>
</div>
{% endblock %}
